<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPage.master.cs" Inherits="MasterPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
     <title>Education Park </title>

   <link href="images/apple-icon.png" rel="icon" type="image/png"/>
    <link href="images/favicon.png" rel="shortcut icon" type="image/png"/>

    <!-- Efinance Title -->
  

    <!-- css file -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="css/responsive.css"/>

    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">

      <header class="irs-main-header">
        <div class="irs-header-top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-4">
                        <div class="irs-header-top-col irs-center-2">
                            <p><i class="fa fa-phone" aria-hidden="true"></i> +021 - 123 1012 1211</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="irs-header-top-col irs-center-2">
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 AM - 4:00 PM</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-5 col-sm-4">
                        <div class="irs-header-top-col text-right irs-center-2">
                            <div class="irs-social text-right irs-center-2">
                                <a href="#"><i class="icofont icofont-social-facebook"></i></a>
                                <a href="#"><i class="icofont icofont-social-twitter"></i></a>
                                <a href="#"><i class="icofont icofont-social-vimeo"></i></a>
                                <a href="#"><i class="icofont icofont-brand-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="irs-header-nav scrollingto-fixed" style="z-index: 1000;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-sm-12">
                        <nav class="navbar navbar-default irs-navbar">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="index-layout1.html">
                                        <img src="images/logo.png" alt="">
                                    </a>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="flipInY">
                                        <li class="dropdown active">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="index-layout1.html">Home One</a>
                                                </li>
                                                <li><a href="index-layout2.html">Home Two</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About</a>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="courses-grid.html">Courses Grid</a>
                                                </li>
                                                <li><a href="courses-left-sidebar.html">Courses left sidebar</a>
                                                </li>
                                                <li><a href="courses-right-sidebar.html">Courses right sidebar</a>
                                                </li>
                                                <li><a href="course-single.html">course single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teachers <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="teacher.html">Our teachers</a>
                                                </li>
                                                <li><a href="teacher-single.html">Teacher single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="blog-grid.html">Blog Grid</a>
                                                </li>
                                                <li><a href="blog-single.html">Blog Single</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa fa-angle-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="service.html">Services</a>
                                                </li>
                                                <li><a href="account.html">My account</a>
                                                </li>
                                                <li><a href="faq.html">faq</a>
                                                </li>
                                                <li><a href="404.html">404</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </div>
                            <!-- /.container-fluid -->
                        </nav>
                    </div>
                    <div class="col-md-2 col-sm-12">
                        <div class="irs-log-reg">
                            <a href="account.html">Login</a>
                            <span>/</span>
                            <a href="account.html">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><div></div>
    </header>





    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>

       <!-- script start from here -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-dropdownhover.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/stellar.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="js/css3-animate-it.js"></script>
    <script type="text/javascript" src="js/bootstrap-slider.js"></script>
    <script type="text/javascript" src="js/jquery.scrollUp.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>

    <!-- Custom script for all pages -->
    <script type="text/javascript" src="js/script.js"></script>

    <!-- Funfact START -->
    <script type="text/javascript">
        $(document).ready(function($) {
            $('.start-count').each(function() {
                var $this = $(this);
                $this.data('target', parseInt($this.html()));
                $this.data('counted', false);
                $this.html('0');
            });

            $(window).bind('scroll', function() {
                var speed = 3000;
                $('.start-count').each(function() {
                    var $this = $(this);
                    if (!$this.data('counted') && $(window).scrollTop() + $(window).height() >= $this.offset().top) {
                        $this.data('counted', true);
                        $this.animate({
                            dummy: 1
                        }, {
                            duration: speed,
                            step: function(now) {
                                var $this = $(this);
                                var val = Math.round($this.data('target') * now);
                                $this.html(val);
                                if (0 < $this.parent('.value').length) {
                                    $this.parent('.value').css('width', val + '%');
                                }
                            }
                        });
                    }
                });
            }).triggerHandler('scroll');
        });
    </script>
</body>
</html>
